<%#
    CONTROLLER: homepage
    VIEW: /homepage/overview
    PROGRAMMER: QIN Yuren
    PURPOSE: displays visualizations and latest comment
%>

<style>
#chart-div {
   overflow-x: scroll;    
}
</style>
<div style="margin:0% 10%">
<div class="container">
  <div class="row">
  <!--Div that will hold the bubble chart-->
      <div id="textstyle" style="width: 1350px; height: 750px; margin: 0 auto"></div>
      <div id="chart_div" style="width: 1350px; height: 750px; margin: 0 auto"></div>

<%# Jimmy's part %>
    <%# use card to beautify comments%>
    <h2 style="margin-bottom: 10px; text-transform: uppercase; text-align: center"><strong>Latest Comments</strong></h2>
      <div class="card-columns" >
      
      <% @comments.each do |comment| %>

        <div class="card" style="border: 0px">
       
        <div class="card border-dark mb-3" style="max-width: 100rem;">   
        

        <div class="card-header"><strong><a href="/profile/<%=comment.user_id%>" style="color:black"><%= comment.username %></a></strong></div>
          
          <div class="card-body text-dark">
            
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: <%= comment.score*20 %>%" aria-valuenow=comment.score aria-valuemin="0" aria-valuemax="4"></div>
            </div>
            <p class="card-title">Overall: <%= comment.score %> / 5</p>
            <p><br></p>

            
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: <%= comment.teachingQuality_score*20 %>%" aria-valuenow=comment.teachingQuality_score aria-valuemin="0" aria-valuemax="4"></div>
            </div>
            <p class="card-text">Teaching Quality: <%= comment.teachingQuality_score %> / 5</p>
            <p><br></p>

            
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: <%= comment.usefulness_score*20 %>%" aria-valuenow=comment.usefulness_score aria-valuemin="0" aria-valuemax="4"></div>
            </div>
            <p class="card-text">Usefulness: <%= comment.usefulness_score %> / 5</p>
            <p><br></p>

           
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: <%= comment.difficulty_score*20 %>%" aria-valuenow=comment.difficulty_score aria-valuemin="0" aria-valuemax="4"></div>
            </div>
            <p class="card-text">Difficulty: <%= comment.difficulty_score %> / 5</p>
            <p><br></p>

            
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: <%= comment.workload_score*20 %>%" aria-valuenow=comment.workload_score aria-valuemin="0" aria-valuemax="4"></div>
            </div>
            <p class="card-text">Workload: <%= comment.workload_score %> / 5</p>
            <p><br></p>
            
            <div class="progress">
              <div class="progress-bar bg-dark" role="progressbar" style="width: <%= comment.gpa*25 %>%" aria-valuenow=comment.gpa aria-valuemin="0" aria-valuemax="4"></div>
            </div>
            <p class="card-text">GPA: <%= comment.gpa %> / 4</p>
          </div>

          <div class="card-body text-dark">
          <h5 class="card-title">Comment:</h5>  
            <%= comment.posts %>
              
          </div>


        </div>

      </div>


    <% end %>
  </div>

<%# Jimmy's part finished %>

  </div>
</div>


<!--Interactive Data Visualization Module-->
<!-- Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" d></script>
<script type="text/javascript" >

<!-- Load the visualization API and the bubble chart package-->
  google.charts.load("current", { packages: ["corechart"] });

  <!-- Set a call back to run when the google visualization API is loaded -->
  google.charts.setOnLoadCallback(drawChart);
  google.charts.setOnLoadCallback(drawVisualization);

  <!-- Callback that creates and populates a data table, instantiates the bubble chart, passes in the data and draws it/-->

  function drawChart() {


    var data = google.visualization.arrayToDataTable(<%= @courses %>);


    <!-- Set chart options-->
    var options = {
      title:'Don\'t know what course to choose? Come here and see!',
    
        animation:{
        duration: 2000,
        easing: 'inAndOut',
        startup:true

      },

      hAxis: { title: 'Workload' },

      vAxis: { title: 'TeachingQuality' },

      bubble: {
        textStyle: {
          fontSize: 12,
          fontName: 'Times-Roman',
          color: 'green',
          bold: true,
          italic: true

        }
      },

      explorer: {
         keepInBounds: false
      },

      legend:{
        alignment:'center',
        position:'right'
      },

      selectionMode:'multiple',
      
      sortBubblesBySize:true,
    
      tooltip:{
        showColorCode: true
       
      }
    };
   
    <!--Instantiate and draw our chart, passing in some options-->
    var chart = new google.visualization.BubbleChart(document.getElementById('textstyle'));
    chart.draw(data, options);
  }

  function drawVisualization() {
    // Some raw data (not necessarily accurate)
    var data = google.visualization.arrayToDataTable(<%= @courses2 %>);

    var options = {
      title : 'Course Dashboard',
      hAxis: {title: 'Course Code'
      , maxAlternation: 2},
      vAxis: {title: 'Score'},
      seriesType: 'bars',
      animation:{
        duration: 2000,
        easing: 'inAndOut',
        startup:true

      },

      explorer: {
        maxZoomIn: .5 ,
        maxZoomOut: 8 ,
        keepInBounds: false
     },

     legend:{
       alignment:'center',
       position:'right'
     },

     selectionMode:'multiple',
    series: {5: {type: 'line'}}        };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
  

</script>

</div>
