
<h1> Comments </h1>

<table>
	<table class="table table-striped">
	<thead>
		<tr>
			<th> user name </th>
					
			<th> course name </th>
	
			<th> overall score </th>

			<th> work load </th>

			<th> teaching quality </th>

			<th> difficulty </th>

			<th> usefulness </th>

			<th> comment </th>

			<th> GPA </th>

			<th> Option </th>

		</tr>
	</thead>
	<tbody>
		<% @comments.each do |comment| %>
		<tr>
			<td><%= comment.username %></td>
	
			<td><%= comment.courseid %></td>

			<td><%= comment.score %></td>

			<td><%= comment.workload_score %></td>

			<td><%= comment.teachingQuality_score %></td>

			<td><%= comment.difficulty_score %></td>

			<td><%= comment.usefulness_score %></td>

			<td><%= comment.posts %></td>

			<td><%= comment.gpa %></td>

			<td>
				<%= link_to "delete", comment_path(comment), method: "delete", data: {confirm: "Comfirm?"} %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>


