<%=
=begin



=end
%>

<h1> Comments </h1>

<table>
	<table class="table table-striped">
	<thead>
		<tr>
			<th> Option </th>

			<th> #</th>

			<th> Username </th>
					
			<th> Course Code </th>
	
			<th> Overall </th>

			<th> Workload </th>

			<th> Teaching Quality </th>

			<th> Difficulty </th>

			<th> Usefulness </th>

			<th> GPA </th>
			
			<th> Comment </th>


		</tr>
	</thead>
	<tbody>
		<% @comments.each do |comment| %>
		<tr>
			<td>
				<%= link_to "delete", comment_path(comment), method: "delete", data: {confirm: "Comfirm?"} %>
			</td>

			<td><%= comment.id%></td>
			
			<td><%= comment.username %></td>
	
			<td><%= comment.courseid %></td>

			<td><%= comment.score %></td>

			<td><%= comment.workload_score %></td>

			<td><%= comment.teachingQuality_score %></td>

			<td><%= comment.difficulty_score %></td>

			<td><%= comment.usefulness_score %></td>

			<td><%= comment.gpa %></td>
			
			<td><%= comment.posts %></td>

			
		</tr>
		<% end %>
	</tbody>
</table>


