<%#
    CONTROLLER: profile
    VIEW: /welcome
    PROGRAMMER: Hsieh, Tzuchun
    PURPOSE: cover page for users of first time visit
	NOTE: Cover page is not rendered from the layout, so needs all the essentials for html file
%>
<!DOCTYPE html>
<html>

<head>
	<title>Course Martini</title>
	<%# Rails safety meta-tags%>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%# Calling stylesheets and javascripts%>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<%# Additional style for overriding bootstrap's container-fluid%>
	<style>
		.container-fluid {
			padding: 0;
		}
	</style>
</head>

<body>
	<div class="container-fluid">
		<%# Cover%>
		<div class="cover">
			<div class="page-header" style="text-align: center;">
        		<h1 style="color:white; text-shadow: 0.1em 0.1em 0.2em black">Course Martini</h1>
				<h2 style="color:white; font-weight:400; text-shadow: 0.1em 0.1em 0.2em black">Enjoy a cup of Course Martini, shaken, not stirred.</h2>
				<br>
				<div class="row">
					<div class="col-lg-2 offset-lg-5">
						<div class="col-lg-8 offset-lg-2">
							<%# Redirect to /homepage%>
							<a class="btn btn-light rounded-pill  btn-block" style="font-weight:600"
								href="/homepage">Home</a><br><br>
							<%# Link to in-page about-us%>
							<a class="btn btn-light rounded-pill  btn-block" style="font-weight:600"
								href="#about-us">About Us</a><br><br>
							<%# Link to bottom of the page%>
							<a class="btn btn-light rounded-pill  btn-block" style="font-weight:600"
								href="#get-started">Get Started</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%# Short about us%>
		<div class="about">
			<div class="col-lg-8 offset-lg-2">
				<br><br>
					<h1 id="about-us">About Us</h1>
					<p>Course selection is a stage in universities where students have to decide their own path of
						reaching academic goals. Sometimes it is difficult to choose the course that best suits
						students’ academic demands.<br><br>
						Course Martini, is a platform for students to share their own experiences
						on different courses CUHK provides. The reviews provided will guide others on course selecting
						decisions to
						improve the overall quality of their academic experience during the studying period.</p>	
			</div>
		</div>

		<%# Arrow at the bottom of the screen that linkes to the next section%>
		<div class="arrow"  onclick="location.href ='#quote'" style="cursor: pointer;">
			<%= image_tag("arrow.png", size:"50x50", :alt => "arrow") %>
		</div>	

		<%# Student's quote on our website%>
		<div class="comment">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="quote" id="quote">
						<blockquote>
							&ldquo; When I was a freshman, course selection gave me a really hard time, because I do not
							know which
							course to choose, and which professor's style fits me more. Now, with Course Martini, making
							decisions
							on course selecting is just so much more easier! &rdquo;
							<cite>&mdash; Yuren Qin, Yr2</cite>
						</blockquote>
					</div>
				</div>
			</div>
		</div>

		<%# Getting started section%>
		<div class="get-started gradient-light" >
			<h1 id ="get-started"> Get Started here!</h1>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">

					<%# Tab link to sign-up page%>
					<div class="row">
						<div class="col-lg-4">
							<div class="card-btn">
								<div class="card mb-4 shadow-sm" onclick="location.href ='/users/sign_up';"
									style="cursor: pointer;">
									<div class="card-img-top">
										<h2>Join us</h2>
									</div>
									<div class="card-body">
										<p class="card-text">
											Please join our community of Course Martini to share your opinions on
											courses, and
											improve the plateform.
										</p>
									</div>
								</div>
							</div>
						</div>

						<%# Tab link to overview page%>
						<div class="col-lg-4">
							<div class="card-btn">
								<div class="card mb-4 shadow-sm" onclick="location.href ='/homepage/overview';"
									style="cursor: pointer;">
									<div class="card-img-top2">
										<h2>Trends!</h2>
									</div>
									<div class="card-body">
										<p class="card-text">Our platform have various type of graphs on course
											statstics based on the
											reviews collected.</p>
									</div>
								</div>
							</div>
						</div>

						<%# Tab link to homepage%>
						<div class="col-lg-4">
							<div class="card-btn">
								<div class="card mb-4 shadow-sm" onclick="location.href ='/homepage';"
									style="cursor: pointer;">
									<div class="card-img-top3">
										<h2>Search</h2>
									</div>
									<div class="card-body">
										<p class="card-text">If you want to get started with our system directly,
											you may as well start your search first.
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-8 offset-lg-2" style="text-align: center;">
							<h2>Already a member?</h2>
							<a type="button" href="/users/sign_in" class="btn btn-lg btn-outline-light">Sign in here!</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%# Footer%>
		<div class="end">
			<p>Created by team Course Martini</p>
		</div>
	</div>
</body>

</html>
