<div class= "gradient2">
<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="col-lg-6 offset-lg-3">
                <div class="user_form">
                    <h2 style="margin-bottom:-30px"><strong>Sign Up</strong></h2>       
                    <div class="col-lg-8 offset-lg-2">

                        <% if alert%>
                        <div class="alert alert-danger" role="alert">
                            <p class="alert"><%= alert %></p>
                        </div>
                        <%end%>

                        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "new_user"}) do |f| %>
                        <div class="form-group">
                            <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
                        </div>

                        <div class="form-group">
                            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
                        </div>
                        <label>
                            <%= f.check_box :remember_me, label: false, style:"width:20%" %>  Remember me</label>
                        <%= f.button "Sign in", class: 'btn btn-primary btn-lg btn-block' %>
                        <% end %>
                        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                        <% end %>
                        <br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
