<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label> Course Code </label>
    <%= form.text_field :code, class: 'form-control' %>
  </div>

  <div class="field">
    <label> Course Name </label>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <label> Subject </label>
    <%= form.text_field :subject, class: 'form-control' %>
  </div>

  <div class="field">
    <label> Faculty </label>
    <%= form.text_field :faculty, class: 'form-control' %>
  </div>

  <div class="field">
    <label> Instructor </label>
    <%= form.text_field :instructor, class: 'form-control' %>
  </div>


  <div class="field">
    <label> Description </label>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="field">
     <label> Workload </label>
    <%= form.text_field :workload, class: 'form-control' %>
  </div>

  <div class="field">
    <label> Difficulty </label>
    <%= form.text_field :difficulty, class: 'form-control' %>
  </div>

  <div class="field">
    <label> Quality </label>
    <%= form.text_field :quality, class: 'form-control' %>
  </div>

  <div class="field">
    <label> Usefulness </label>
    <%= form.text_field :usefulness, class: 'form-control' %>
  </div>

  <div class="field">
    <label> Grade </label>
    <%= form.text_field :gpa, class: 'form-control' %>
  </div>

  <div class="field">
    <label> Overall Score </label>
    <%= form.text_field :overall, class: 'form-control' %>
  </div>

  <div class="field">
    <label> Number of Reviews </label>
    <%= form.number_field :n_comments, class: 'form-control' %>
  </div>

  <div class="field">
    <label> TextBook(s) </label>
    <%= form.text_area :book, class: 'form-control' %>
  </div>

  <div class="field">
    <label> Course Website </label>
    <%= form.text_area :url, class: 'form-control' %>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <p></p>

<% end %>
