<h1><%= @course.code %> <%= @course.name %> </h1>

<div class="container">
  <div class="row">
    <div class="col">
      <%# 1 of 3 %>
    </div>
    <div class="col-9">
      <%# 2 of 3 (wider) %>
      <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Ratings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="trend-tab" data-toggle="tab" href="#trend" role="tab" aria-controls="trend" aria-selected="false">Trends</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Comments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="resource-tab" data-toggle="tab" href="#resource" role="tab" aria-controls="resource" aria-selected="false">Resources</a>
  </li>
</ul>


<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <p><br></p>

  <div class="card border-danger mb-3" style="max-width: 100rem;">   
    <div class="card-header"><strong>Subject</strong></div>
    <div class="card-body text-danger">
      <%# <h5 class="card-title">Primary card title</h5> %>
      <p class="card-text"><%= @course.subject %></p>
    </div>
  </div>
  
    
  <div class="card border-success mb-3" style="max-width: 100rem;">   
    <div class="card-header"><strong>Faculty</strong></div>
    <div class="card-body text-success">
      <%# <h5 class="card-title">Primary card title</h5> %>
      <p class="card-text"><%= @course.faculty %></p>
    </div>
  </div>

    
  <div class="card border-info mb-3" style="max-width: 100rem;">   
    <div class="card-header"><strong>Instructor</strong></div>
    <div class="card-body text-info">
      <%# <h5 class="card-title">Primary card title</h5> %>
      <p class="card-text"><%= @course.instructor %></p>
    </div>
  </div>

    
  <div class="card border-dark mb-3" style="max-width: 100rem;">   
    <div class="card-header"><strong>Description</strong></div>
    <div class="card-body text-dark">
      <%# <h5 class="card-title">Primary card title</h5> %>
      <p class="card-text"><%= @course.description %></p>
    </div>
  </div>
  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <p><br></p>

    <p>
      <strong>Based on <%= @course.n_comments %> comments, we have</strong>
    </p>

    <div class="card border-primary mb-3" style="max-width: 100rem;">   
    <div class="card-header"><strong>Overall Rating</strong></div>
      <div class="card-body text-primary">
        <h5 class="card-title"><%= @course.workload %> / 5</h5>
        <div class="progress">
          <div class="progress-bar bg-primary" role="progressbar" style="width: <%=@course.overall*20%>%" aria-valuenow=@course.overall aria-valuemin="0" aria-valuemax="5"></div>
        </div>
      </div>
    </div>

    <div class="card border-success mb-3" style="max-width: 100rem;">   
    <div class="card-header"><strong>Teaching Quality</strong></div>
      <div class="card-body text-success">
        <h5 class="card-title"><%= @course.quality.round(1) %> / 5</h5>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: <%=@course.quality*20%>%" aria-valuenow=@course.quality aria-valuemin="0" aria-valuemax="5"></div>
        </div>
      </div>
    </div>

    <div class="card border-info mb-3" style="max-width: 100rem;">   
    <div class="card-header"><strong>Usefulness</strong></div>
      <div class="card-body text-info">
        <h5 class="card-title"><%= @course.usefulness.round(1) %> / 5</h5>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=@course.usefulness*20%>%" aria-valuenow=@course.usefulness aria-valuemin="0" aria-valuemax="5"></div>
        </div>
      </div>
    </div>


    <div class="card border-danger mb-3" style="max-width: 100rem;">   
    <div class="card-header"><strong>Difficulty</strong></div>
      <div class="card-body text-danger">
        <h5 class="card-title"><%= @course.difficulty.round(1) %> / 5</h5>
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" style="width: <%=@course.difficulty*20%>%" aria-valuenow=@course.difficulty aria-valuemin="0" aria-valuemax="5"></div>
        </div>
      </div>
    </div>

    <div class="card border-warning mb-3" style="max-width: 100rem;">   
    <div class="card-header"><strong>Workload</strong></div>
      <div class="card-body text-warning">
        <h5 class="card-title"><%= @course.workload.round(1) %> / 5</h5>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: <%=@course.workload%>%" aria-valuenow=@course.workload aria-valuemin="0" aria-valuemax="5"></div>
        </div>
      </div>
    </div>

    <div class="card border-dark mb-3" style="max-width: 100rem;">   
    <div class="card-header"><strong>Average GPA</strong></div>
      <div class="card-body text-dark">
        <h5 class="card-title"><%= @course.gpa.round(1) %> / 4</h5>
        <div class="progress">
          <div class="progress-bar bg-dark" role="progressbar" style="width: <%=@course.gpa*25%>%" aria-valuenow=@course.gpa aria-valuemin="0" aria-valuemax="4"></div>
        </div>
      </div>
    </div>

  </div>



  <div class="tab-pane fade" id="trend" role="tabpanel" aria-labelledby="trend-tab">
  <p><br></p>

  <div class="card border-dark mb-3" style="max-width: 100rem;">
    <div class="card-header">Latest Ratings</div>
    <div class="card-body">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['User', 'Overall', 'Teaching Quality','Workload','Usefulness','Difficulty'],
              ['test1',   1,           2,               3,         4,                 5],
              ['test2',   4,           5,               3,         5,                 4],
              ['test3',   3,           3,               4,         4,                 5],
              ['test4',   2,           3,               4,         5,                 3],
              ['test5',   3,           3,               4,         5,                 3],
              ['test6',   5,           1,               2,         3,                 4], 
              ['test7',   3,           5,               4,         3,                 2],
              ['test8',   4,           4,               3,         3,                 3],
              ['test9',   4,           5,               1,         4,                 2]
            ]);

            var options = {
              curveType: 'function',
              legend: { 
                position: 'right',
                alignment:'center'
              },
              width: 650,
              height: 400,
              chartArea: {
                width: 450,
                left:50,
                top:40, 
                height:300
              },
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
          }
        </script>


        <div id="curve_chart" style="width: 900px; height: 500px" ></div>
        </div>
    </div>
  </div>

 


  <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
  <p><br></p>
  
  <div class="card-columns" >
  
      <% @comments.each do |comment| %>

        <div class="card" style="border: 0px">
       
        <div class="card border-dark mb-3" style="max-width: 100rem;">   
        

        <div class="card-header"><strong><a href="/profile/<%=comment.user_id%>" style="color:black"><%= comment.username %></a></strong></div>
          
          <div class="card-body text-dark">
            
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: <%= comment.score*20 %>%" aria-valuenow=comment.score aria-valuemin="0" aria-valuemax="4"></div>
            </div>
            <p class="card-title">Overall: <%= comment.score %> / 5</p>
            <p><br></p>

            
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: <%= comment.teachingQuality_score*20 %>%" aria-valuenow=comment.teachingQuality_score aria-valuemin="0" aria-valuemax="4"></div>
            </div>
            <p class="card-text">Teaching Quality: <%= comment.teachingQuality_score %> / 5</p>
            <p><br></p>

            
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: <%= comment.usefulness_score*20 %>%" aria-valuenow=comment.usefulness_score aria-valuemin="0" aria-valuemax="4"></div>
            </div>
            <p class="card-text">Usefulness: <%= comment.usefulness_score %> / 5</p>
            <p><br></p>

           
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: <%= comment.difficulty_score*20 %>%" aria-valuenow=comment.difficulty_score aria-valuemin="0" aria-valuemax="4"></div>
            </div>
            <p class="card-text">Difficulty: <%= comment.difficulty_score %> / 5</p>
            <p><br></p>

            
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: <%= comment.workload_score*20 %>%" aria-valuenow=comment.workload_score aria-valuemin="0" aria-valuemax="4"></div>
            </div>
            <p class="card-text">Workload: <%= comment.workload_score %> / 5</p>
            <p><br></p>
            
            <div class="progress">
              <div class="progress-bar bg-dark" role="progressbar" style="width: <%= comment.gpa*25 %>%" aria-valuenow=comment.gpa aria-valuemin="0" aria-valuemax="4"></div>
            </div>
            <p class="card-text">GPA: <%= comment.gpa %> / 4</p>
          </div>

          <div class="card-body text-dark">
          <h5 class="card-title">Comment:</h5>  
            <%= comment.posts %>
              
          </div>


        </div>

      </div>


    <% end %>
  </div>


  </div>


  <div class="tab-pane fade" id="resource" role="tabpanel" aria-labelledby="resource-tab">
  <p><br></p>

    <%# <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
    </div> %>


  <div class="card bg-light mb-3" style="max-width: 100rem;">   
    <div class="card-header"><strong>Textbook</strong></div>
    <div class="card-body text-dark">
      <%# <h5 class="card-title">Primary card title</h5> %>
      <p class="card-text"><%= @course.book %></p>
    </div>
  </div>


  <div class="card bg-light mb-3" style="max-width: 100rem;">   
    <div class="card-header"><strong>Course Website</strong></div>
    <div class="card-body text-dark">
      <%# <h5 class="card-title">Primary card title</h5> %>
      <p class="card-text"><%= @course.url %></p>
    </div>
  </div>



  
  </div>


</div>

<p><br></p>
<% if current_user&.admin? %>
  <%= link_to 'Edit', edit_course_path(@course), :class=>"btn btn-outline-dark" %>
<% end %>
<%= link_to 'Back', courses_path, :class=>"btn btn-outline-dark" %>
<%= link_to 'Add Comment', new_comment_path(@course), :class=>"btn btn-outline-primary" %>
<% if current_user&.admin? %>
  <%= link_to 'Manage Comment', comments_path(@course), :class=>"btn btn-outline-primary"  %>
<% end %>
<br><br>

    </div>
    <div class="col">
      <%# 3 of 3 %>
    </div>
  </div>

</div>







