<%#
    CONTROLLER: profile
    VIEW: /profile/{id}
    PROGRAMMER: Hsieh, Tzuchun
    PURPOSE: this page shows the profile page of a certain user with {id}
%>
<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                    <div class="user_form">
                        <h2 style="margin-bottom: 10px; text-transform: uppercase"><strong><%= @user.name%>'s Profile</strong></h2>
                        <div class="col-lg-8 offset-lg-2" >   
                            <div class="text_box">
                                <strong>About me</strong><br>
                                <%# If the user does not have an intro, display the sentence%>
                                <%if @user.intro == nil || @user.intro == ""%>
                                    <p>This user did not write anything here </p>
                                <%# Else display what they wrote%>
                                <%else%>
                                     <%=@user.intro%>
                                <%end%>
                            </div>

                            <%# Display the amount of comments created by the user%>
                            <div class="text_box">
                                <strong>Comments contributed</strong><br>
                                <p><%= @count%></p>
                            </div>

                            <%# Show the latest comment by the user%>
                            <div class="text_box">
                                <strong>Latest comment</strong><br>
                                <%unless @comment == nil%>
                                    <br>
                                    <div class="card" style="border:0px">
                                        <div class="card border-dark mb-3" style="max-width: 100rem;">   
                                            <div class="card-header" style="margin-bottom:0px"><strong><a href="/profile/<%=@comment.course_id%>" style="color:black"><%=@comment.courseid %></a></strong></div>
                                            <div class="card-body text-dark" style="margin-top:-10px">
                                                <p>Overall: <%= @comment.score %> / 5</p>
                                                <p>Teaching Quality: <%= @comment.teachingQuality_score %> / 5</p>
                                                <p>Usefulness: <%= @comment.usefulness_score %> / 5</p>
                                                <p>Difficulty: <%= @comment.difficulty_score %> / 5</p>
                                                <p>Workload: <%= @comment.workload_score %> / 5</p>
                                                <p>GPA: <%= @comment.gpa %> / 4</p>
                                                <p><%= @comment.posts %></p>
                                        </div>
                                    </div>
                                <%# If the user does not have comment, show the sentence below%>
                                <%else%>
                                    <p>The user has no comments yet</p>
                                <% end %>
                            </div>
                            <br>
                            <%# Link to all the user's comments%>
                            <p style="text-align: right"><a href="/profile/comments/<%=@user.id%>">View all his/her comments</a></p>
                            <br>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>